* {
    border: none;
    transition-duration: 0;
    font-size: 0.99em;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.3);
}

#workspaces {
    background-color: transparent;
    font-weight: bold;
}

#workspaces button {
    padding: 2px 6px;
    background-color: transparent;
    border-radius: 0px;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.focused {
    color: white;
    border: 1px solid white;
    background-color: #0f94d2;
}

#workspaces button.urgent {
    background-color: red;
    color: white;
}

#tray {
    margin-right: 10px;
}
