* {
    border: none;
    transition-duration: 0;
    font-size: 0.99em;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

.modules-right, .modules-center, .modules-left {
    background-color: #000000;
    padding: 0 5px;
    font-weight: bold;
}

#workspaces button {
    padding: 2px 6px;
    background-color: transparent;
    border-radius: 0px;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.active {
    color: white;
    background-color: #33ccff;
}

#workspaces button.urgent {
    background-color: red;
    color: white;
}

#tray {
    margin-right: 10px;
}
