* {
    border: none;
    transition-duration: 0;
    font-size: 0.99em;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    background-color: transparent;
    margin-left: 10px;
}

#workspaces button {
    padding: 2px 6px;
    background-color: transparent;
    color: #8a8a8a;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.focused {
    color: white;
    background-color: #0f94d2;
}

#workspaces button.urgent {
    background-color: red;
    color: white;
}

#tray {
    margin-right: 10px;
}
